{% load settings %}
{% load i18n %}
{% load integers %}
{% load voting %}
{% load guardian_tags %}
{% load search_items %}

{% get_obj_perms request.user for item as "item_perms" %}

<div class="row search-result-item {% if item.owner == request.user %}owners-result-item{% endif %}" id="{{ item.pk|num_encode }}">
    <div class="col-md-1 col-sm-4 search-result-social text-center">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <a href="{% url 'Search:vote' %}?type=upvote&srpk={{ item.pk|num_encode }}" class="btn btn-success vote-link" {% if not item|can_vote:request.user %}disabled="disabled"{% endif %}>
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <a href="{% url 'Search:vote' %}?type=downvote&srpk={{ item.pk|num_encode }}" class="btn btn-danger vote-link" {% if not item|can_vote:request.user %}disabled="disabled"{% endif %}>
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
            </div>
        </div>

        <div class="row margin-top">
            <div class="col-md-12 col-sm-12" id="scores-{{ item.pk|num_encode }}">
                {% include 'Search/includes/scores.html' with item=item %}
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-8">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4>
                    {% settings_context "LINKS_NEW_WINDOW" as LINKS_NEW_WINDOW %}
                    <a href="{% url 'Search:favourite' srpk=item.pk|num_encode %}" class="favourite-btn">
                        <i class="fa {% if item|is_user_favourite:request.user == True %}fa-heart{% else %}fa-heart-o{% endif %}"></i>
                    </a>
                    <a href="{{ item.link }}" data-href="{% url 'Search:open' pk=item.pk|num_encode %}" onmousedown="makeHref($(this));"
                       {% if LINKS_NEW_WINDOW == True %}target="_blank"{% endif %}>
                        {% if LINKS_NEW_WINDOW == True %}
                            <i class="glyphicon glyphicon-new-window new-window-icon"></i>
                        {% endif %}
                        <span class="light-bold">{{ item }}</span>
                    </a>
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                {% trans 'Found in:' %} <a href="{{ item.formatted_url }}" class="text-info" target="_blank">{{ item.formatted_url }}</a>
            </div>
        </div>

        <div class="row margin-top">
            <div class="col-md-12 col-sm-12">
                <div class="btn-group" role="group">
                    <a href="{% url 'Search:index' %}?query={{ "site "|add:item.link|urlencode }}" class="btn btn-info">
                        <i class="fa fa-info-circle"></i>
                        {% trans 'View' %}
                    </a>

                    {% if item.owner == request.user %}
                        <a href="{% url 'Search:purchase' %}?method=sell&srpk={{ item.pk|num_encode }}"
                           class="btn btn-info purchase-btn"
                           {% if not item.is_sell_date_valid %}
                           data-toggle="tooltip" rel="tooltip" data-placement="top"
                           title="{% trans 'You must own an item at least 30 days to sell it.' %}"
                           {% endif %}>
                            <i class="fa fa-money"></i>
                            {% trans 'Sell' %}
                        </a>
                   {% else %}
                        {% if item.owner == None %}
                            <a href="{% url 'Search:purchase' %}?method=buy&srpk={{ item.pk|num_encode }}" class="btn btn-info purchase-btn">
                                <i class="fa fa-shopping-cart"></i>
                                {% trans 'Buy' %}
                            </a>
                        {% else %}
                            <a href="#offer-form-{{ item.pk|num_encode }}" class="btn btn-info offer-btn" data-toggle="collapse" aria-expanded="false" aria-controls="offer-form-{{ item.pk|num_encode }}">
                                <i class="fa fa-ticket"></i>
                                {% trans 'Buy Offer' %}
                            </a>
                        {% endif %}
                    {% endif %}

                    {% if "owner" in item_perms %}
                        <a href="{% url 'user_admin:Search_searchitem_change' item.pk %}" class="btn btn-danger" target="_blank">
                            <i class="fa fa-wrench"></i>
                            {% trans 'Administrate' %}
                        </a>
                    {% endif %}
                </div>

                <div class="collapse margin-top" id="offer-form-{{ item.pk|num_encode }}">
                    <form action="{% url 'Search:offer' %}" method="post" onsubmit="return makeOfferFormSubmit($(this))">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <input placeholder="{% trans 'Amount' %}" type="text" class="form-control" name="amount" id="amount" />
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <input type="submit" class="btn btn-success" value="{% trans 'Make an offer' %}" />
                            </div>
                        </div>

                        <input type="hidden" name="srpk" value="{{ item.pk|num_encode }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-12 search-result-snippet">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p>{{ item.html_snippet|safe }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                {% if 'www.youtube.com/watch?v=' in item.link %}
                    <iframe width="560" height="315" src="{{ item|get_youtube_url }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}
            </div>
        </div>

        {% if item.owner_comment != None %}
            <hr />

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <strong>{% trans 'Owner says:' %}</strong>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p>{{ item.owner_comment|safe }}</p>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-md-4 col-sm-12">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3>{% trans "Comments" %}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12" id="comment-list-{{ item.pk|num_encode }}">
                {% include 'Search/includes/comment_list.html' with item=item %}
            </div>
        </div>

        {% if request.user.is_authenticated and perms.Search.add_searchitemcomments %}
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <a class="fake-btn comment-add" data-toggle="collapse" data-target="#collapsed-comment-{{ item.pk|num_encode }}" aria-expanded="false" aria-controls="collapsed-comment-{{ item.pk|num_encode }}">
                        <i class="glyphicon glyphicon-plus"></i> {% trans "Add Comment" %}
                    </a>
                </div>
            </div>

            <div class="row collapse" id="collapsed-comment-{{ item.pk|num_encode }}">
                <div class="col-md-12 col-sm-12">
                    <form action="{% url 'Search:add_comment' %}" method="post" class="comment-form" onsubmit="return commentFormSubmit($(this));">
                        {% csrf_token %}
                        {{ comment_form }}

                        <input type="hidden" name="srpk" value="{{ item.pk|num_encode }}" />
                        <input type="submit" class="btn btn-success" value="{% trans "Comment" %}" />
                    </form>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="label label-info">
                        {% trans 'You need a higher level to add comments' %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>