a.navbar-brand {
    padding: 5px;
}

a.navbar-brand > img {
    height: 30px;
}

.search-result-item {
    border-bottom: solid 1px #4e5d6c;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.search-result-snippet, .search-result-social {
    margin-top: 15px;
}

.new-window-icon {
    font-size: 10px;
}

ul.typeahead.dropdown-menu a {
    padding: 10px 20px;
}

ul.typeahead.dropdown-menu a strong {
    color: #5bc0de;
}

.profile-image {
    float: left;
}

.profile-image > img {
    max-height: 40px;
}

.profile-header {
    float: left;
    padding-top: 12px;
    margin-left: 10px;
}

.margin-top {
    margin-top: 10px;
}

.btn.no-btn {
    cursor: default;
}

.btn.no-btn:active {
    box-shadow: none;
}

.fake-btn {
    cursor: pointer;
}

.well-no-margin-bottom {
    margin-bottom: 0;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.comment-carousel {
    margin-bottom: 10px;
}

.owners-result-item {
    background: #6C594E;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#message-affix.affix {
    z-index: 10;
    width: 98%;
}

.navbar {
    margin-bottom: 0;
}

#experience-progress {
    height: 5px;
}

.favourite-btn {
    color: #bd291f;
    text-decoration: none;
}

.favourite-btn:hover, .favourite-btn:active, .favourite-btn:focus {
    text-decoration: none;
}

.powered-by-google {
    margin-top: 13px;
}

.experience-row {
    margin-right: 0;
}

.experience-row > div {
    padding-right: 0;
}

.light-bold {
    font-weight: 600;
}

.link-iframe {
    width: 100%;
    height: 100%;
    background: #2b3e50;
}

#iframe-row {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 15;
}

#iframe-row > div {
    width: 83.33333333%;
}

#navigation-row .navigation-wrapper {
    background: #4e5d6c;
}

#navigation-row .iframe-title {
    text-align: center;
}

#navigation-row .iframe-title h3 {
    font-size: 20px;
    margin-top: 6px;
}

#dock-bar {
    width: 170px;
    margin-right: -120px;
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 15;
}

#dock-bar .btn {
    width: 170px;
    white-space: normal;
}

.fixed-offer-col {
    width: auto;
    margin-right: 0;
    float: right;
}

#carousel-homepage .carousel-indicators {
    bottom: -20px;
}

#navbar-affix {
    z-index: 20;
    width: 100%;
}