a.navbar-brand {
    padding: 5px;
}

a.navbar-brand > img {
    height: 30px;
}

.search-result-item {
    border-bottom: solid 1px #4e5d6c;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.search-result-snippet, .search-result-social {
    margin-top: 15px;
}

.new-window-icon {
    font-size: 10px;
}

ul.typeahead.dropdown-menu a {
    padding: 10px 20px;
}

ul.typeahead.dropdown-menu a strong {
    color: #5bc0de;
}

.profile-image {
    float: left;
}

.profile-image > img {
    max-height: 40px;
}

.profile-header {
    float: left;
    padding-top: 12px;
    margin-left: 10px;
}

.margin-top {
    margin-top: 10px;
}

.btn.no-btn {
    cursor: default;
}

.btn.no-btn:active {
    box-shadow: none;
}

.fake-btn {
    cursor: pointer;
}

.well-no-margin-bottom {
    margin-bottom: 0;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.comment-carousel {
    margin-bottom: 10px;
}