{% load i18n %}
{% load experience %}

<div class="progress" data-toggle="tooltip" rel="tooltip" data-placement="bottom" id="experience-progress"
     title="{% blocktrans with request.user|get_experience as experience and request.user|get_experience_till as required_experience %}Experience: {{ experience }} out of {{ required_experience }}{% endblocktrans %}">
    <div class="progress-bar" role="progressbar"
         aria-valuenow="{{ request.user|get_experience_percentage }}"
         aria-valuemin="0" aria-valuemax="100"
         style="width: {{ request.user|get_experience_percentage }}%;">
    </div>
</div>