{% extends 'base_generic.html' %}

{% load staticfiles %}
{% load i18n %}
{% load templating %}
{% load settings %}

{% block title %}{% title search_result.request.search_terms %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-12 col-md-offset-3">
            <form action="{% url 'Search:index' %}" method="get" id="search-form">
                {{ form }}
                <input type="submit" class="btn btn-primary" value="Search" />
            </form>
        </div>
    </div>

    {% if search_result != None %}
        {% if search_result.items.all|length > 0 %}
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    {% for item in search_result.items.all %}
                        <div class="row search-result-item">
                            <div class="col-md-4 col-sm-12">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <h4>
                                            {% settings_context "LINKS_NEW_WINDOW" as LINKS_NEW_WINDOW %}
                                            <a href="{{ item.link }}" {% if LINKS_NEW_WINDOW == True %}target="_blank"{% endif %}>
                                                {% if LINKS_NEW_WINDOW == True %}
                                                    <i class="glyphicon glyphicon-new-window new-window-icon"></i>
                                                {% endif %}
                                                {{ item }}
                                            </a>
                                        </h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        {% trans 'Found in:' %} <span class="text-info">{{ item.formatted_url }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 col-sm-12 search-result-snippet">
                                <p>{{ item.html_snippet|safe }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 text-center">
                    {% include 'Search/includes/pagination.html' with pagination=pagination %}
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <p>
                        {% trans "Sorry, no results found" %}
                    </p>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ block.super }}

    <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>

    <script>
        $(function () {
            var typeahead = $('.typeahead');

            typeahead.typeahead({
                'source': function (query, process) {
                    return $.get('{% url 'Search:suggestion' %}', {query: query}, function (data) {
                        return process(data);
                    });
                },
                'updater': function(item) {
                    // do what you want with the item here
                    typeahead.val(item);

                    $("#search-form").submit();
                    return item;
                }
            });
        });
    </script>
{% endblock %}
console.log();
