{% extends 'base_generic.html' %}

{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-12 col-md-offset-3">
            <form action="{% url 'Search:index' %}" method="get">
                {{ form }}
                <input type="submit" class="btn btn-primary" value="Search" />
            </form>
        </div>
    </div>

    {% if search_result != None %}
        <div class="row">
            <div class="col-md-12 col-sm-12">
                {% for item in search_result.items %}
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <h4>
                                    <a href="{{ item.link }}" target="_blank">{{ item }}</a>
                                </h4>
                            </div>

                            <div class="row">
                                {% trans 'Found in:' %} {{ item.formatted_url }}
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <p>{{ item.html_snippet|safe }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}