{% extends 'base_generic.html' %}

{% load staticfiles %}
{% load i18n %}
{% load templating %}
{% load settings %}
{% load widget_tweaks %}

{% block title %}{% title request.GET.query %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-12 col-md-offset-3">
            <form action="{% url 'Search:index' %}" method="get" id="search-form">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        {% render_field form.query class="form-control typeahead" placeholder="Search..." %}
                    </div>

                    <div class="col-md-1 col-sm-2">
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </div>

                    <div class="col-md-2 col-sm-2">
                        <img src="{% static 'images/powered-by-google-on-white.png' %}" alt="Powered By Google" class="pull-right powered-by-google" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="search-results"></div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}

    <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>

    <script>
        $.fn.typeahead.Constructor.prototype.render = function (items) {

            var that = this;

            items = $(items).map(function (i, item) {
                i = $(that.options.item).attr('data-value', item);
                i.find('a').html(that.highlighter(item));
                return i[0];
            });

            this.$menu.html(items);
            return this;
        };

        $(document).ready(function () {
            NProgress.start();

            var spinner = $("#nprogress").find(".spinner");

            spinner.css({
                'left': ($(window).width() / 2) - (spinner.width() / 2) + 'px',
                'top': '300px'
            });
        });

        {% if 'query' not in request.GET %}
            $(window).load(function(){
               NProgress.done();
            });
        {% endif %}

        $(function () {
            var typeahead = $('.typeahead');

            typeahead.typeahead({
                'source': function (query, process) {
                    return $.get('{% url 'Search:suggestion' %}', {query: query}, function (data) {
                        return process(data);
                    });
                },
                'updater': function(item) {
                    // do what you want with the item here
                    typeahead.val(item);

                    $("#search-form").submit();
                    return item;
                }
            });

            {% if 'query' in request.GET %}
                var interval = setInterval(function () {
                    NProgress.inc();
                }, 1000);

                $.ajax({
                    'url': '{% url 'Search:load' %}',
                    'type': 'get',
                    'data': {
                        'query': '{{ request.GET.query }}',
                        'p': {% if 'p' in request.GET %}{{ request.GET.p }}{% else %}1{% endif %}
                    },
                    'success': function (html) {
                        $("#search-results").html(html);
                        $('.tooltip-btn').tooltip();

                        clearInterval(interval);
                        NProgress.done();

                        refreshBalance();
                        refreshExperienceProgress();

                        $('.purchase-btn[data-toggle="tooltip"]').tooltip();

                        setUpMinimizedIframes();
                    }
                });
            {% endif %}
        });
    </script>
{% endblock %}