{% extends 'base_generic.html' %}

{% load i18n %}
{% load templating %}

{% block title %}{% trans 'My Links' as title %}{% title title %}{% endblock %}

{% block content %}
    {% if search_items|length > 0 %}
        <div class="row">
            <div class="col-md-12 col-sm-12">
                {% for search_item in search_items %}
                    {% include 'Search/includes/search_item.html' with item=search_item %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <p>
                        {% trans "You have no bought links yet" %}
                    </p>
                </div>
            </div>
    {% endif %}
{% endblock %}