{% load staticfiles %}
{% load settings %}
{% load i18n %}
{% load money %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% settings_value "SITE_NAME" %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/loadingbar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />

    {% block bootstrap_theme %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme-used.css' %}" />
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    {% endblock %}
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'Search:index' %}"><img alt="Brand" src="{% static 'images/social-search.png' %}"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if user and not user.is_anonymous %}
                        <li>
                            <div class="profile-image">
                                <img src="{{ request.user.profile.get.photo }}" />
                            </div>
                            <div class="profile-header">
                                {{ user.get_full_name|default:user.username }}
                            </div>
                        </li>
                        <li>
                            <a>
                                {% blocktrans with request.user.profile.get.balance|convert_to_money as balance %}
                                    <i class="fa fa-money"></i> <span id="balance">{{ balance }}</span>
                                {% endblocktrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'auth:logout' %}?next={{ request.path }}"><i class="glyphicon glyphicon-off"></i> {% trans "Logout" %}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">{% trans "Login with Facebook" %}</a>
                        </li>
{#                        <li>#}
{#                            <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with#}
{#                                Google</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>#}
{#                        </li>#}
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid" id="content">
        {% include 'includes/messages.html' with messages=messages %}

        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/jquery-1.11.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.loadingbar.js' %}"></script>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1549018752028891',
                xfbml: true,
                version: 'v2.2'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    {% block javascripts %}{% endblock %}
</body>
</html>